extends layout

block content
  section.wrap
    section.slice-box
      section.slice-item
        h2 测试
        p 介绍
      section.slice-item
        h2 测试
        p 介绍    
      section.slice-item
        h2 测试
        p 介绍
      section.slice-item
        h2 测试
        p 介绍   
