doctype html
html
  head
    title= title
    href(href='./bootstrap-and-customizations.css')
  body
    include header
    section.container
      block content
    script(src='/main.js')
    script(src='/reload/reload.js')
